#NavSpace {
    height: 4.7em;
    width: 100%;
    text-align: center;
}

/* Page CSS */

#OrgTitle{
    font-family: 'Julius Sans One';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    align-items: center;
    letter-spacing: 0.1em;
    color: #F4F4F4;

    margin-top: 30px;
}

#OrgTitle2{
    font-family: 'Julius Sans One';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    align-items: center;
    letter-spacing: 0.1em;
    color: #F4F4F4;

    margin-top: 30px;
    margin-left: 9%;
}

#OrgTitle3{
    font-family: 'Julius Sans One';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    align-items: center;
    letter-spacing: 0.1em;
    color: #F4F4F4;

    margin-top: 58%; 
    padding-top: 14%;
    margin-left: 9%;
}

#OrgBox{
    margin-bottom: 2%;
    margin-top: 0.3%;
    box-sizing: border-box;
    width: 100%;
    height: 1000px;
    max-height: 50vh;
    border-top: 5px solid #E5E6E4;
    -ms-overflow-style: none;
    overflow-y: auto;
}

#OrgBox2{
    margin-bottom: 2%;
    margin-top: 0.3%;
    margin-left: 4%;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 440px;
    border-top: 5px solid #E5E6E4;

    -ms-overflow-style: none;
    overflow-y:scroll;
}

#OrgBox::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

#OrgBox2::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

#OrgUsSection{
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 0%;
    max-width: 96%;
    background-color: #0f1521;
}

/* Directory Section CSS */

.DirectoryBox{
    width: 600px;
    height: 200px;
    background: rgba(166, 162, 162, 0.3);
    border-radius: 10px;
}

.dot {
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    width: 125px;
    height: 125px;
    background: #EDF2FB;

    margin-top: 2.5%;
    margin-left: 2%;
}

.DirectoryName{
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 50px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #F4F4F4;

    padding-top: 2.5%;
    margin-bottom: 0px;
}

.DirectorySubtitle{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #F4F4F4;
    padding-top: 3%;
}

/* Skills Section CSS */

.SkillsBox1{
    margin-top: 7%;
    margin-bottom: 2%;
    margin-right: 3%;
    padding-left: 3%;
    margin-left: 0.1%;

    width: 280px;
    height: 150px;
    background: rgba(166, 162, 162, 0.3);
    border-radius: 25px;
    display: inline-block;
}

.SkillsBox2{
    padding-left: 5%;

    margin-top: 7%;
    margin-bottom: 2%;
    margin-left: 3.3%;
    width: 280px;
    height: 150px;
    background: rgba(166, 162, 162, 0.3);
    border-radius: 25px;
    display: inline-block;
}

#SkillsPadding{
    padding-left: 0%;
}

.SkillsImage {
    border-radius: 0%;
    display: inline-block;
    position: absolute;
    width: 105px;
    height: 105px;
    background: transparent;

    margin-top: 3.7%;
    margin-left: -8%;
}

.SkillsName{
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 50px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #F4F4F4;

    padding-top: 13%;
    margin-bottom: 0px;
}

.SkillsSubtitle{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #F4F4F4;

    padding-top: 9%;
}

/* Projects Section CSS */

.ProjectsBox1{
    margin-top: 7%;
    margin-bottom: 2%;
    margin-right: 3.3%;
    padding-left: 3%;

    width: 280px;
    height: 150px;
    background: rgba(166, 162, 162, 0.3);
    border-radius: 25px;
    display: inline-block;
}

.ProjectsBox2{
    padding-left: 5%;
    margin-top: 7%;
    margin-bottom: 2%;
    margin-left: 3.3%;
    width: 280px;
    height: 150px;
    background: rgba(166, 162, 162, 0.3);
    border-radius: 25px;
    display: inline-block;
}

#ProjectsPadding{
    padding-left: 0%;
}

.ProjectsImage {
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    width: 105px;
    height: 105px;
    background: #EDF2FB;

    margin-top: 3.7%;
    margin-left: -8%;
}

.ProjectsName{
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 50px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #F4F4F4;

    padding-top: 7%;
    margin-bottom: 0px;
}

.ProjectsSubtitle{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #F4F4F4;

    padding-top: 9%;
}

/* Footer Section CSS */

#FooterOrg{
    margin-top: 40%;
}

a#JGIconBoxFooter{
    padding-top: 0px;
}
 
#JGIconFooter{
    padding-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.FooterText{
    margin-top: 0px;
    margin-left: 1.8%;
    margin-right: auto;

    color: #F4F4F4;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.25em;
}