#NavSpace {
    height:  200px;
    width: 100%;
    text-align: center;
    z-index: 10;
}

/* Page CSS */

#OrgTitle{
    font-family: 'Julius Sans One';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    align-items: center;
    letter-spacing: 0.1em;
    color: #F4F4F4;
}

#OrgTitle2{
    font-family: 'Julius Sans One';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    align-items: center;
    letter-spacing: 0.1em;
    color: #F4F4F4;
}

#OrgTitle3{
    font-family: 'Julius Sans One';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    align-items: center;
    letter-spacing: 0.1em;
    color: #F4F4F4;
}
